.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-shape-1 {
  width: 292px;
  height: 575px;
  background-image: none;
  margin: 28px auto 0 347px;
}

.u-section-1 .u-shape-2 {
  width: 292px;
  height: 468px;
  background-image: none;
  margin: -373px 355px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 581px;
  height: 341px;
  margin: -521px 77px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 550px;
  height: 385px;
  object-position: 0% 100%;
  background-position: 0% 0%;
  margin: -429px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 630px;
  min-height: 467px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -320px auto 60px 9px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 45px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 4.5rem;
  animation-duration: 500ms;
  margin: 0 0 0 20px;
}

.u-section-1 .u-text-2 {
  animation-duration: 750ms;
  margin: 45px 0 0 20px;
}

.u-section-1 .u-form-1 {
  height: 148px;
  margin: 35px 22px 0 42px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: 9px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-shape-1 {
    width: 247px;
    height: 584px;
    margin-top: 20px;
    margin-left: 251px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -405px;
    margin-right: 274px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 227px;
    margin-top: -401px;
    margin-right: 42px;
  }

  .u-section-1 .u-image-2 {
    width: 566px;
    height: 378px;
    margin-top: -427px;
  }

  .u-section-1 .u-group-1 {
    width: 626px;
    min-height: 466px;
    margin-top: -307px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    width: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-shape-1 {
    width: 248px;
    height: 502px;
    margin-top: 17px;
    margin-left: 201px;
  }

  .u-section-1 .u-shape-2 {
    width: 301px;
    height: 373px;
    margin-top: -271px;
    margin-right: 116px;
  }

  .u-section-1 .u-image-1 {
    width: 352px;
    height: 142px;
    margin-top: -373px;
    margin-right: 178px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 243px;
    margin-top: -243px;
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-1 .u-group-1 {
    width: 584px;
    min-height: 446px;
    margin-top: -316px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-shape-1 {
    width: 231px;
    height: 513px;
    margin-top: 0;
    margin-left: 90px;
  }

  .u-section-1 .u-shape-2 {
    width: 274px;
    height: 507px;
    margin-top: -452px;
    margin-right: 72px;
  }

  .u-section-1 .u-image-1 {
    width: 405px;
    height: 190px;
    margin-top: -362px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-1 .u-image-2 {
    width: 415px;
    height: 390px;
    margin-top: -297px;
    margin-left: 53px;
  }

  .u-section-1 .u-group-1 {
    min-height: 452px;
    width: 504px;
    margin-top: -428px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    height: 371px;
    width: 364px;
    margin-right: 50px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-shape-1 {
    width: 163px;
    height: 580px;
    margin-left: 62px;
  }

  .u-section-1 .u-shape-2 {
    width: 195px;
    height: 587px;
    margin-top: -548px;
    margin-right: 45px;
  }

  .u-section-1 .u-image-1 {
    height: 88px;
    width: 180px;
    margin-top: -219px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 268px;
    height: 178px;
    margin-top: -238px;
    margin-right: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 548px;
    width: 315px;
    margin-top: -395px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    margin-right: 6px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}