.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-shape-1 {
  width: 292px;
  height: 575px;
  background-image: none;
  margin: 28px auto 0 347px;
}

.u-section-1 .u-shape-2 {
  width: 292px;
  height: 464px;
  background-image: none;
  margin: -373px 355px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 598px;
  height: 380px;
  margin: -594px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 630px;
  min-height: 466px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -316px auto 60px 9px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 45px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-size: 4.5rem;
  animation-duration: 500ms;
  margin: 0 0 0 20px;
}

.u-section-1 .u-form-1 {
  height: 148px;
  margin: 43px 22px 0 42px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 9px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-shape-1 {
    width: 247px;
    height: 539px;
    margin-top: 0;
    margin-right: 439px;
    margin-left: 254px;
  }

  .u-section-1 .u-shape-2 {
    height: 468px;
    margin-top: -354px;
    margin-right: 235px;
  }

  .u-section-1 .u-image-1 {
    width: 518px;
    height: 322px;
    margin-top: -621px;
  }

  .u-section-1 .u-group-1 {
    width: 604px;
    margin-top: -211px;
    margin-left: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 1px 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: 434px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    height: 223px;
    width: 486px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 100px;
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-shape-1 {
    height: 505px;
    margin-right: 403px;
    margin-left: 70px;
  }

  .u-section-1 .u-shape-2 {
    height: 428px;
    margin-top: -350px;
    margin-right: 154px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -538px;
  }

  .u-section-1 .u-group-1 {
    width: 568px;
    min-height: 416px;
    margin-top: -256px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-form-1 {
    margin-left: 42px;
    margin-right: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-shape-1 {
    width: 220px;
    height: 503px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: 68px;
  }

  .u-section-1 .u-shape-2 {
    width: 252px;
    margin-top: -397px;
    margin-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 413px;
    height: 202px;
    margin-top: -458px;
  }

  .u-section-1 .u-group-1 {
    min-height: 456px;
    margin-top: -271px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 5px 0 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 60px;
  }

  .u-section-1 .u-form-1 {
    width: 364px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 287px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-shape-1 {
    width: 193px;
    height: 495px;
    margin-top: 18px;
    margin-left: 25px;
  }

  .u-section-1 .u-shape-2 {
    width: 211px;
    height: 429px;
    margin-top: -378px;
    margin-right: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 167px;
    margin-top: -438px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -236px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    width: 339px;
    margin-right: 6px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}