.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 597px;
}

.u-section-1 .u-tabs-1 {
  min-height: 528px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 0;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 0;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 0;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 37px auto 0 0;
}

.u-section-1 .u-btn-1 {
  margin: -37px 0 0 auto;
}

.u-section-1 .u-table-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  margin-left: 0;
  margin-right: 811px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-2 {
  margin-left: 69px;
  margin-right: 587px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-3 {
  margin-left: 293px;
  margin-right: 441px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-4 {
  margin-left: 439px;
  margin-right: 291px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-5 {
  font-weight: normal;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 39px auto 0 0;
}

.u-section-1 .u-table-2 {
  height: 112px;
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  margin-left: 0;
  margin-right: 995px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-12 {
  margin-left: 85px;
  margin-right: 721px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-13 {
  margin-left: 359px;
  margin-right: 542px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-14 {
  margin-left: 538px;
  margin-right: 358px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-15 {
  font-weight: normal;
}

.u-section-1 .u-table-cell-16 {
  font-weight: normal;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-btn-7 {
  margin: -37px 0 0 auto;
}

.u-section-1 .u-table-3 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  margin-left: 0;
  margin-right: 995px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-24 {
  margin-left: 85px;
  margin-right: 721px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-25 {
  margin-left: 359px;
  margin-right: 542px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-26 {
  margin-left: 538px;
  margin-right: 358px;
  font-weight: normal;
}

.u-section-1 .u-table-cell-27 {
  font-weight: normal;
}

.u-section-1 .u-table-cell-28 {
  font-weight: normal;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-table-1 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: -22px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -1px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 607px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-left: 53px;
    margin-right: 439px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-left: 221px;
    margin-right: 330px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 330px;
    margin-right: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 478px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-left: 52px;
    margin-right: 372px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-left: 158px;
    margin-right: 266px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 263px;
    margin-right: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: -13px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -9px;
  }
}